{% extends 'base.html' %}

{% block title %}
    ENTRY FORM
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>MFI REGISTRATION FORM</h4>
                    </div>
                    <div class="card-body">
                        <form action="#">
                            <div class="row">
                                <div class="col">
                                    <label class="form-label" for="institution">Institution Name:</label>
                                    <input name="institution" class="form-control" type="text" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label" for="institution">Contact Person:</label>
                                    <input name="contactp" class="form-control" type="text" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label" for="institution">Post:</label>
                                    <select class="form-select mb-3"
                                            aria-label=".form-select-lg example">
                                        <option selected> Cashier</option>
                                        <option value="1">COO</option>
                                        <option value="2">CEO</option>
                                        <option value="3">MD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label" for="institution">Institution</label>
                                    <input name="institution" class="form-control" type="text" value="Institution">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label" for="institution">Institution</label>
                                    <input name="institution" class="form-control" type="text" value="Institution">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label" for="institution">Institution</label>
                                    <input name="institution" class="form-control" type="text" value="Institution">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label" for="institution">Institution</label>
                                    <input name="institution" class="form-control" type="text" value="Institution">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}